.mainDiv{ 
    padding: 20px 170px;
}

.featuresSection{
    display: flex;
    flex-direction: column;
    gap: 100px;
}

/* ------------------------------------------ */


.dividerText{
    background-color: #ffeea2;
    padding: 20px 0px;
    margin: 70px 0px;
    text-align: center;
}

.dividerText h1{
    font-size: 35px;
    font-weight: 800;
}

.dividerText h2{
    font-weight: 500;
    font-size: 20px;
}


.iconsDiv{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}.iconsDiv h3{
    color: #979797;
    font-weight: 700;
}.iconsDiv h2{
    font-weight: 800;
    font-size: 35px;
}


.iconsDivFlipped{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
}.iconsDivFlipped h2{
    font-weight: 800;
    font-size: 35px;
}.iconsDivFlipped h3{
    color: #979797;
    font-weight: 700;
}

/* ------------------------------------------ */


.ctaDiv{
    background-color: #FDD511;
    padding: 50px 0px;
    text-align: center;
}

.ctaDiv h1{
    font-weight: 800;
    font-size: 40px;
}

.ctaDiv h3{
    font-size: 24px;
    margin-bottom: 30px;
}

.waitlistBtnWhite {
    align-items: center;
    background-color: #FFFFFF;
    border: 0;
    border-radius: 100px;
    color: #FDD511;
    cursor: pointer;
    font-family: 'Darker Grotesque', sans-serif;
    font-size: 19px;
    font-weight: 700;
    justify-content: center;
    min-width: 0px;
    overflow: hidden;
    padding: 15px 30px;
    text-align: center;
    touch-action: manipulation;
    transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
  }
  
  .waitlistBtnWhite:hover { 
    background-color: #fceda1;
    color: #ffffff;
  }


/* ------------------------------------------ */


.securityDiv{
    display: flex;
    justify-content: space-around;
    text-align: center;

}