.mainDiv{ 
    padding: 20px 170px;
}

.featuresSection{
    display: flex;
    flex-direction: column;
    gap: 100px;
}

/* ------------------------------------------ */


.dividerText{
    background-color: #FFF8DA;
    padding: 20px 0px;
    margin: 70px 0px;
    text-align: center;
}

.dividerText h1{
    font-size: 35px;
    font-weight: 800;
}

.dividerText h2{
    font-weight: 500;
    font-size: 20px;
}


.iconsDiv{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}.iconsDiv h3{
    color: #979797;
    font-weight: 700;
}.iconsDiv h2{
    font-weight: 800;
    font-size: 35px;
}


.iconsDivFlipped{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
}.iconsDivFlipped h2{
    font-weight: 800;
    font-size: 35px;
}.iconsDivFlipped h3{
    color: #979797;
    font-weight: 700;
}

.securityDiv{
    display: flex;
    justify-content: space-around;
    text-align: center;

}